<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- desktop mode search animation -->
    <form class="search-box me-4 d-none d-md-flex">
      <input type="text" placeholder=" " />
      <i class="bi bi-search search-icon"></i>
      <button type="reset"></button>
    </form>

    <!-- mobile mode -->
    <form class="search-box-mobile d-flex d-md-none gap-2">
      <input type="text" class="form-control" placeholder="Search books..." />
      <button class="search-mobile-btn" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>

    <i
      class="bi bi-list d-lg-none shop-filter-icon"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#shopFilters"
      aria-label="Toggle filters"
    ></i>
    <div class="collapse navbar-collapse" id="shopFilters">
      <ul class="navbar-nav gap-3">
        <!-- Categories -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fiction</a></li>
            <li><a class="dropdown-item" href="#">Non-Fiction</a></li>
            <li><a class="dropdown-item" href="#">Children's Books</a></li>
          </ul>
        </li>

        <!-- Authors -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Authors
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Albert Camus</a></li>
            <li><a class="dropdown-item" href="#">Alex Michaelides</a></li>
            <li><a class="dropdown-item" href="#">Fyodor Dostoevsky</a></li>
          </ul>
        </li>

        <!-- Price Range -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Price Range
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">$0 - $5</a></li>
            <li><a class="dropdown-item" href="#">$5 - $10</a></li>
            <li><a class="dropdown-item" href="#">$10+</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
